html{
  scroll-behavior: smooth;
}
*{box-sizing: border-box;}

body {
  background-color: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #090939;
}
/* colours used:
primary colour (white): #FFFFFF
secondary colour (navy blue): #090939
secondary colour (grey): #595959
tertiatry colour (beije): #7E7269 */

h1,h2,h3,h4 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 700;
}
h2{
  font-size: 2.25em;
  font-weight: 700;
}
h3{
  font-size: 1.75em;
  font-weight: 400;
}
h4{
  font-size: `1.35em;
  font-weight: 400;`
}

img {
  width: 100%;
}

a{
  color: #FF6F00;
  text-decoration:none; /*no underlying*/
}
a:hover{
  color: #FFB31A;
  text-decoration: underline; /*underlying when hovering over a link*/
  transition-duration: 0.2s ;
  transition-property: opacity;
}

a:active{ /*selected link*/
  color: #994c30;
}

a:focus{
  color: #FFB31A;
  text-decoration: underline;
}

.button{
  display: inline-block;
  background-color: #FF6F00;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px #994c30; /*width of the border, type, color*/
  transition-duration: 0.2s ;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff;
}
.button:active {
  color: #994c30;
}
.button.email {
  background-color: transparent;
  color: #FF6F00;
  text-transform: uppercase;
  border: 2px solid #FF6F00;
}
.button.email:hover{
  background-color: #FF6F00;
  color: #ffffff;
}
.button.email:active {
  color: #994c30;
}

header{
  background-color: #2d2d2d;
  text-align: center;
  padding: 10px 0;
  margin: 0 0;
  width: 100%;
  position: fixed;
  box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

/*Layout styling*/
.container{
  padding: 0 30px;
}
#hero .container p{
  text-align: center;
}
#contact{
display: inline-block;
text-align: center;
padding-bottom: 10px;
text-decoration: none;
width: 100%;
}
footer{
  background-color: #2d2d2d;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 0 0;
  width: 100%;
  box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

footer ul {
  display: block;
  text-align: center;
  padding: 0;
  list-style-type: none;
}
 footer ul li {
  display: inline-block;
}
footer ul li a {
  padding: 0 10px;
}
#contact .container{
  padding: 40px 8px 70px 0;
}
.copyright{
  font-size: 14px;
}
.row{
  margin: 25px 0; /* 25px top and bottom, 0 left and right*/
}

#hero h1 {
  text-align: center;
}
.logo{
  max-width: 100px;
  float: left;
  padding-left: 8px;
  padding-top: 17px;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0 10px;
}
nav > ul > li {
  display: inline-block;
  padding: 0 10px;
}
nav > ul > li > a {
  padding: 0 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
#work h2{
  padding: 30px 0 0 20px;
  margin-bottom: 17px;
  font-size: 35px;
}
#hero {
  background-color:#F2F1EF;
  color: #090939;
  padding: 20px 0;
  padding-top: 133px;
  display: inline-block;
  width: 100%;
  margin-left: 0;
}

#about{
  margin-top: 0;
  padding-bottom: 50px;
  padding-top: 133px;
  display: inline-block;
  width: 100%;
}
#about h3{
  margin-top: 20px;
  margin-left: 20px;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
#hero-story h2 {
  margin-top: 5px;
  font-size: 21px;
}
#hero-story h3 {
  font-size: 21px;
  font-weight: bold;
}

#fitzen {
  margin-top: 0;
  padding: 10px 0;
  padding-top: 133px;
  display: inline-block;
  width: 100%;
}

nav > ul > li > a:hover{
  color: #FFFFFF;
  text-decoration: underline;
}

nav > ul > li > a:focus{
  color: #FFB31A;
  text-decoration: underline;
}

@media only screen and (min-width: 640px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }
nav{
  width: auto;
  float: right;
  margin-top: 4px;
}
body{
  font-size: 18px;
}
.col-md-6{
  width: 50%;
}
.col-md-6 img {
  padding-top: 11px;
}
.row {
    margin: 0;
    padding: 20px 20px 40px 20px;
}
h3 {
  margin-top: 0;
  margin-bottom: 14px;
}

[class*="col-"]{
  float: left;
  padding: 0 20px;
}
.relevant.skills ul  {
padding-left: 20px;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}
}
.col-md-4 ul {
  padding-left: 22px;
}

@media only screen and (min-width: 1024px) {
  .container{
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
  }

.col-lg-4 {
  width: 33.33%;
}
.col-lg-8{
  width: 66.66%;
}

@keyframes color-change{
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,0);}
  to {transform: translate(200px,0);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
